body {
	background-color: #1b692d;
	color: #fff;
}
p {
	text-align: center;
}
.cards-logo {
	padding-top: 10%;
}
h1 {
	text-transform: uppercase;
	text-align: center;
}
h3 {
	text-align: center;
}
a {
	color: #fff;
	text-decoration: none;
}
.button {
	display: inline-block;
	padding: 1% 2%;
	background-color: #fff;
	color: #1b692d;
	text-align: center;
	margin-top: 1%;
	border-radius: 5px;
	font-size: 1.3em;
}
.card {
	padding: 10% 0%;
	width: 120%;
	height: auto;
}
#score {
	display: inline;
}