body {
	background-color: #1b692d;
}
p {
	text-align: center;
}
.cards-logo {
	padding-top: 10%;
}
h1 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.button {
	display: inline-block;
	padding: 1% 2%;
	background-color: #fff;
	color: #1b692d;
	text-align: center;
	margin-top: 1%;
	border-radius: 5px;
	font-size: 1.3em;
}